.ty {
    /* flex-direction: column !important; */
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    
}

.header {
    width: 20rem;
    /* height: 6rem; */
    /* background-color: rgba(218, 255, 250, 0.3) !important; */
    background-color: rgba(253,253,253,.5) !important;
    border-radius: 10px !important;
    flex-direction: column !important;
    /* margin-bottom: 1rem; */
}

.text {
    /* margin-bottom: 16px !important; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    color: black;
}

.subs {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    font-size: 17px !important;
    color: black;
}

.date{
    color: gray;
}
.img {
    transform: scale(0.7,0.7);
    /* margin-bottom: 0px !important;  */
}

.desc {
    flex-direction: column !important;
}