.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

/* .left {

} */

.right {
    display: flex;
    align-items: flex-end;
    justify-content: right;
    flex-direction: column;
    position: relative;
    margin-left: 1.5rem;
}

